<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613628922383-25b33vk0c7u58odhelm3jtbeq2bqgpfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613628922383-25b33vk0c7u58odhelm3jtbeq2bqgpfl</string>
	<key>API_KEY</key>
	<string>AIzaSyAL23_d6KeOqpZx6-eW3WWQjoF_hAAh_5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>613628922383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>financepal-a1d63</string>
	<key>STORAGE_BUCKET</key>
	<string>financepal-a1d63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613628922383:ios:c55e97555e369021f4f17a</string>
</dict>
</plist>